@model SztuderWiniecki.BikesApp.Interfaces.IBike

@{
    ViewData["Title"] = "Details";
}

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>View</h1>

<div>
    <h4>IBike</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", "Bikes", new { Model.Id })" class="btn btn-primary">
        <i class="me-2 bi bi-pencil-square"></i>
        <span>
            Edit
        </span>
    </a>
    <a href="@Url.Action("Index", "Bikes")" class="btn btn-info">
        <i class="me-2 bi bi-box-arrow-in-right"></i>
        <span>
            Back to List
        </span>
    </a>
</div>
